@{
    ViewBag.Title = "DinnerMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <style type="text/css">
        @@font-face {
	        font-family: 'GoudyBookletter1911Regular';
	        src: url('@Url.Content("~/Content/styles/goudy_bookletter_1911.eot")');
	        src: local('@Url.Content("~/Content/styles/Goudy Bookletter 1911")'), local('GoudyBookletter1911'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.woff")') format('woff'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.ttf")') format('truetype'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.svg#GoudyBookletter1911")') format('svg');
        }
        
        .section { margin-bottom: 50px; }
        
        .category { background:url(@Url.Content("~/Content/images/section-head-bg.png")) no-repeat 100% 50%;
	                display:inline-block;
	                font:36px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	                margin-bottom:16px;
	                padding-right:40px;
        }
        
        .title {
	        color:#262213;
	        letter-spacing:2px;
	        font-size:18px;
	        margin:1em 0 0 0;
	        padding:0;
	        text-transform:uppercase;
	        display: block;
        }
        
        .description {
            margin-left: 15px;
        }
            
        .price {
	        font:22px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	        margin-left: 15px;
        }
        
        .menuItem {
            list-style-type: none;
        }
    </style>
}
<div class="section" id="Appetizers">
    <span class="category">Appetizers</span>
    <ul class="menuItem">
        <li>
            <span class="title">Spring Rolls</span>
            <span class="description">Deep fried spring rolls stuffed with vegetables</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Prawn Rolls</span>
            <span class="description">Deep fried marinated prawns warpped in wonton</span>
            <span class="price">$7.95</span>        
        </li>
        <li>
            <span class="title">Edamame</span>
            <span class="description">Japanese soybean, lightly boiled and sauteed</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Krab* Rangoon</span>
            <span class="description">Wonton stuffed with krab* salad, cream cheese, and spinach</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Gyoza</span>
            <span class="description">Japanese-style vegtable dumpling (pork or shrimp for additional $1.00)</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Calamari</span>
            <span class="description">Deep fried lightly breaded calamari served with Thai sauce</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Tataki</span>
            <span class="description">Choose seared tuna or steak with ponzu sauce</span>
            <span class="price">$9.00</span>        
        </li>
    </ul>
</div>

<div class="section">
    <span class="category">Salad</span>
    <ul class="menuItem">
        <li>
            <span class="title">Crying Tiger</span>
            <span class="description">Grilled steak mixed with lime juice, chili, onion, tomatoes, basil and cabbage leaves</span>
            <span class="price">$9.95</span>        
        </li>
        <li>
            <span class="title">House Salad</span>

            <span class="description">Fresh lettuce & carrots with ginger or creamy garlic dressing</span>
            <span class="price">$2.00</span>        
        </li>
        <li>
            <span class="title">Seaweed Salad</span>
            <span class="description">Variety of seasoned seaweed</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Cucumber Salad</span>
            <span class="description">Thai style seasoned cucumber mixed with krab*</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Seafood Salad</span>
            <span class="description">Variety of Sashimi fish, krab*, & cucumber served with mild or spicy ponzu sauce</span>
            <span class="price">$8.00</span>        
        </li>
        <li>
            <span class="title">Octupus or Conch Salad</span>
            <span class="description">Choose octopus or conch, mixed with cucumber served with mild or spicy ponzu sauce</span>
            <span class="price">$8.00</span>        
        </li>

    </ul>
        
</div>
<div class="section">
    <span class="category">Specialties</span>
    <div>Served with steamed Jasmine Rice</div>
    <ul class="menuItem">
        <li>
            <span class="title">Chicken, Steak, or Tofu</span>
            <span class="description"></span>
            <span class="price">$9.95</span>        
        </li>
        <li>
            <span class="title">Prawns</span>
            <span class="description"></span>
            <span class="price">$10.95</span>        
        </li>
        <li>
            <span class="title">Favorite Cashew</span>
            <span class="description">Stir-fried with brown sauce, vegetables and cashew nuts</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Thai Basil</span>
            <span class="description">Stir-fried Thai basil, chili, and vegetables</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Sweet and Sour Sauce</span>
            <span class="description">Lighly breaded meat sauteed with vegetables and sweet & sour sauce</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Garden Delight</span>
            <span class="description">Stir-fried mixed vegetables, Shitake mushrooms, and Oyster sauce</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Crispy Garlic</span>
            <span class="description">Stir-fried mixed vegetables with white pepper in a bed of broccoli and carrots, topped with crispy garlic and cilantro</span>
            <span class="price"></span>        
        </li>
    </ul>
</div>
<div class="section">
    <span class="category">Signature Plates</span>
    <div>Comes with steamed rice</div>
    <ul class="menuItem">
        <li>
            <span class="title">Mom's Favorite (Kra Chai)</span>
            <span class="description">Combonation of prawn and chicken breasts stir-fried with slices of fresh Kra Chai root (Thai herb), curry paste and vegetables</span>
            <span class="price">$14.95</span>        
        </li>
        <li>
            <span class="title">Seafood Platters</span>
            <span class="description">Stir-fried combonation of seafood, chili paste and vegetables</span>
            <span class="price">$14.95</span>        
        </li>
    </ul>
</div>
<div class="section" id="Veggie">
    <span class="category">Totally Veggies</span>
    <div>(No Chicken Stock, No Egg, No Fish Sauce, No Oyster Sauce)</div>
    <ul class="menuItem">
        <li>
            <span class="title">Fried Rice Jay</span>
            <span class="description">Stir-fried rice with broccoli, onions, and tomatoes</span>
            <span class="price">$9.95</span>        
        </li>
        <li>
            <span class="title">Pad Thai Jay</span>
            <span class="description">Stir-fried thin rice noodles with diced tofu, sprouts, and grounded peanuts</span>
            <span class="price">$10.25</span>        
        </li>
        <li>
            <span class="title">Pad See Ew Jay</span>
            <span class="description">Stir-fried big rice noodles with fried tofu and broccoli</span>
            <span class="price">$10.25</span>        
        </li>
        <li>
            <span class="title">Thai fried rice - $9.95</span>   
            <span class="description">Onion, broccoli, carrot, and egg with chicken or tofu or steak</span>
            <span class="price">$10.95</span>        
        </li>
    </ul>
</div>
<div class="section" id="CurryDishes">
    <span class="category">Curry Dishes</span>
    <div>Comes with steamed rice</div>
    <ul class="menuItem">
        <li>
            <span class="title">Chicken, Steak, Tofu or Vegges </span>
            <span class="description"></span>
            <span class="price">$9.95</span>        
        </li>
        <li>
            <span class="title">Prawns</span>
            <span class="description"></span>
            <span class="price">$10.95</span>        
        </li>
        <li>
            <span class="title">Red Curry</span>
            <span class="description">Red curry paste cooked with coconut milk, bamboo shoots, and basil</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Green Curry</span>
            <span class="description">Green curry paste cooled with coconut milk, eggplant, and Thai basil</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Yellow Curry</span>
            <span class="description">Yellow curry paste cooked with coconut milk, carrots and potatoes</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Panang Curry</span>
            <span class="description">Panang curr paste cooked wiht coconut milk, peppers, and lime leaves</span>
            <span class="price"></span>        
        </li>
    </ul>
</div>
<div class="section" id="Noodles">
    <span class="category">Noodles</span>
    <ul class="menuItem">
        <li>
            <span class="title">Chicken, Steak, Tofu or Vegges </span>
            <span class="description"></span>
            <span class="price">$7.95</span>        
        </li>
        <li>
            <span class="title">Prawns</span>
            <span class="description"></span>
            <span class="price">$8.95</span>        
        </li>
        <li>
            <span class="title">Pad Thai</span>
            <span class="description">Stir-fried rice noodles, eggs, bean sprouts and ground peanuts</span>
            <span class="price"></span>        
        </li>
        <li>
            <span class="title">Pad Kee Mao</span>
            <span class="description">Stir-fried wide rice noodles with eggs, onion, chili paste, Thai basil, broccoli, and tomatoes</span>
            <span class="price"></span>        
        </li>
    </ul>
</div>
<div class="section" id="FriedRice">
    <span class="category">Fried Rice</span>
    <ul class="menuItem">
        <li>
            <span class="title">Chicken, Beef, Tofu or Vegges </span>
            <span class="description"></span>
            <span class="price">$9.95</span>        
        </li>
        <li>
            <span class="title">Prawns</span>
            <span class="description"></span>
            <span class="price">$10.95</span>        
        </li>
    </ul>
</div>
<div class="section">
    <span class="category">Specialty Fried Rice</span>
    <div>You choice of Chicken, Beef, Tofu, or Vegetables. Prawns add additional $1.00</div>
    <ul class="menuItem">
        <li>
            <span class="title">Pineapple Fried Rice </span>
            <span class="description">Stir-fry rice with pineapples, eggs, onion, broccoli, tomato and green onion </span>
            <span class="price">$9.95</span>        
            <span class="price">Prawns - $10.95</span>        
        </li>
        <li>
            <span class="title">Basil Fried Rice</span>
            <span class="description">Stir-fry rice with eggs, onion, broccoli, tomato, green onion, red bell pepper and Thai basil</span>
            <span class="price">$9.95</span>        
            <span class="price">Prawns - $10.95</span>        
        </li>
        <li>
            <span class="title">Special Fried Rice</span>
            <span class="description">Stir-fry rice with carrots, onion and broccoli</span>
            <span class="price">$9.95</span>        
            <span class="price">Prawns - $10.95</span>        
        </li>
    </ul>
</div>
<div class="section" id="Soups">
    <span class="category">Soup</span>
    <ul class="menuItem">
        <li>
            <span class="title">Vietnamese Pho Noodle Soup</span>
            <span class="description">Pho is a classic, quick meal from Southeast Asia. Its Served in a soup bowl with fresh herbs, fresh rice noodles, topped with chopped scallion, cilantro, fried garlic and your choice of Beef, Chicken, or Seafood</span>
            <span class="price">$7.99</span>        
        </li>
        <li>
            <span class="title">Tom Yum</span>
            <span class="description">Hot and sour soup with mushrooms with herbs & lime juice</span>
            <span class="price">Large - $9.95</span>
            <span class="price">Small - $4.95</span>        
        
        </li>
        <li>
            <span class="title">TomKa</span>
            <span class="description">Hot and sour coconut milk soup, mushrooms, with herbs & lime juice</span>
            <span class="price">Large - $9.95</span>
            <span class="price">Small - $4.95</span>        
        </li>
        <li>
            <span class="title">Miso Soup</span>
            <span class="description">Tofu, seaweed, and soy bean paste</span>
            <span class="price">$2.00</span>        
        </li>
    </ul>
</div>
<div class="section">
    <span class="category">Entrees</span>
    <ul class="menuItem">
        <li>
            <span class="title">Sizzling Teriyaki</span>
            <span class="description">Your choice of meat served in sizzling hot over tender stir-fried vegetables, smothered in teriyaki sauce and served with steamed rice</span>
            <span class="price">Chicken or steak - $12.00</span>        
            <span class="price">Salmon - $13.00</span>        
            <span class="price">Shrimp - $14.00</span>        
            <span class="price">Surf and Turf (Steak and Shrimp) - $16.00</span>        
        </li>
        <li>
            <span class="title">Tempura</span>
            <span class="description">Lightly fried in Japanese batter with your choice of the following</span>
            <span class="price">Vegetables - $10.00</span>        
            <span class="price">Chicken and Vegetables - $11.00</span>
            <span class="price">Shrimp and Vegetables - $12.00</span>
            </li>
            <li>
            <span class="title">Combonation</span>
            <span class="description">Tempura (shrimp and vegetable) and Teriyaki (Chicken and Steak)</span>
            <span class="price">$16.00</span>        
            </li>
            <li>
            <span class="title">Tilapia</span>
            <span class="description">Deep fried tilapia fillet served with vegetable and sweet spicy Thai chili sauce</span>
            <span class="price">$16.00</span>        
            </li>
            <li>
            <span class="title">Yakisoba</span>
            <span class="description">Pan fried yellow noodles with chicken and vegetables</span>
            <span class="price">$10.00</span>        
            </li>
            <li>
            <span class="title">Tempura Udon</span>
            <span class="description">Wide Japanese noodles in broth with shrimp and vegetables tempura served on the side</span>
            <span class="price">$10.00</span>        
            </li>
            <li>
            <span class="title">Unagi Donburi</span>
            <span class="description">BBQ Eel served over a bed of rice</span>
            <span class="price">$12.00</span>        
            </li>
            <li>
            <span class="title">Side of Steamed Rice</span>
            <span class="description"></span>
            <span class="price">$2.00</span>        
            </li>
            <li>
            <span class="title">Side of House Vegetable Fried Rice</span>
            <span class="description"></span>
            <span class="price">$4.00</span>        
            </li>
    </ul>
</div>
    <div class="section" id="HibachiSpecials">
    <span class="category">Hibachi Specials</span>
    <div>All Hibachi dinners inclue Hibahi vegetable, Hibachi rice, and your choice of house soup or house salad with your choice of dressing (ginger, creamy garlic or ranch)</div>
    <ul class="menuItem">
        <li>
            <span class="title">Hibachi Vegetables</span>
            <span class="description"></span>
            <span class="price">$7.99</span>        
        </li>
        <li>
            <span class="title">Hibachi Chicken</span>
            <span class="description"></span>
            <span class="price">$7.99</span>        
        </li>
        <li>
            <span class="title">Hibachi Steak</span>
            <span class="description"></span>
            <span class="price">$7.99</span>        
        </li>
        <li>
            <span class="title">Hibachi Shrimp</span>
            <span class="description"></span>
            <span class="price">$7.99</span>        
        </li>
    </ul>
    <span class="category">Kids Menu</span>
    <ul>
        <li>
            <span class="title">Chicken</span>
            <span class="description"></span>
            <span class="price">$5.50</span>        
        </li>
    </ul>
</div>
    <div class="section">
    <span class="category">Sashimi Combinations</span>
    <div>Chef's choice of fresh fish</div>
    <ul class="menuItem">
        <li>
            <span class="title"></span>
            <span class="description">12 slices of raw</span>
            <span class="price">$18.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">15 slices of raw</span>
            <span class="price">$22.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">27 slices of raw</span>
            <span class="price">$42.00</span>        
        </li>
    </ul>
</div>
    <div class="section">
    <span class="category">Sushi Combinations</span>
    <div>Chef's choice of fresh fish</div>
    <ul class="menuItem">
        <li>
            <span class="title"></span>
            <span class="description">7 pieces of nigiri sushi and a California Roll</span>
            <span class="price">$16.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">9 pieces of nigiri sushi nd a shrimp tempura</span>
            <span class="price">$19.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">16 pieces of nigiri sushi, California roll, shrimp tempura, and Philedelphia roll</span>
            <span class="price">$35.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">Veggie Combination - veggie roll and seven pieces of vegetable nigri sushi</span>
            <span class="price">$13.00</span>        
        </li>
    </ul>
</div>
<div class="section">
    <span class="category">Sushi Love Boats</span>
    <div>Chef's choice of fresh fish</div>
    <ul class="menuItem">
        <li>
            <span class="title"></span>
            <span class="description">7 Pieces of nigiri sushi, 8 pieces of sashimi, California roll and seafood salad</span>
            <span class="price">$35.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">9 pieces of nigiri sushi, 12 pieces of sashimi sushi, California roll, shrimp tempura roll, white orchid roll and seafood</span>
            <span class="price">$45.00</span>        
        </li>
        <li>
            <span class="title"></span>
            <span class="description">12 pieces of nigiri sushi, 15 pieces of sashimi, California roll, shrimp tempura roll, white orchid roll, and seafood salad</span>
            <span class="price">$35.00</span>        
        </li>
            
    </ul>
</div>
<div>*Krab: imitation crab meat</div>
<div>We Take special pride in preparing our sushi in the traditional Japanese way. Please understand that sushi may take a little longer and may not be served at the same time as other items</div>
