@model LanXang.Web.Viewmodels.MenuVM
@{
    ViewBag.Title = "DinnerMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <style type="text/css">
        @@font-face {
	        font-family: 'GoudyBookletter1911Regular';
	        src: url('@Url.Content("~/Content/styles/goudy_bookletter_1911.eot")');
	        src: local('@Url.Content("~/Content/styles/Goudy Bookletter 1911")'), local('GoudyBookletter1911'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.woff")') format('woff'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.ttf")') format('truetype'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.svg#GoudyBookletter1911")') format('svg');
        }
        
        .section { margin-bottom: 50px; }
        
        .category { background:url(@Url.Content("~/Content/images/section-head-bg.png")) no-repeat 100% 50%;
	                display:inline-block;
	                font:36px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	                margin-bottom:16px;
	                padding-right:40px;
        }
        
        .title {
	        color:#262213;
	        letter-spacing:2px;
	        font-size:18px;
	        margin:1em 0 0 0;
	        padding:0;
	        text-transform:uppercase;
	        display: block;
        }
        
        .description {
            margin-left: 15px;
        }
            
        .price {
	        font:22px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	        margin-left: 15px;
        }
        
        .menuItem {
            list-style-type: none;
        }
    </style>
}
@foreach (var category in Model.Categories)
{
    <div class="section">
        <span class="category">@category.Name</span>
        <div>@category.Description</div>
        <ul class="menuItem">
            @foreach (var menuItem in category.MenuItems)
            {
                <li>
                    <span class="title">@menuItem.Name</span>
                    <span class="description">@menuItem.Description</span>
                    <span class="price">@menuItem.Price</span>
                </li>
            }
        </ul>
    </div>
}
