@model LanXang.Web.Viewmodels.MenuVM
@{
    ViewBag.Title = "Lan Xang Sushi Restaurant Tallahassee Dinner Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var category in Model.Categories)
{
    <div class="section">
        <span class="category">@category.Name</span>
        <div>@category.Description</div>
        <ul class="menuItem">
            @foreach (var menuItem in category.MenuItems)
            {
                <li>
                    <span class="title">@menuItem.Name</span>
                    <span class="description">@menuItem.Description</span>
                    <span class="price">@menuItem.Price</span>
                </li>
            }
        </ul>
    </div>
}
