@{
    ViewBag.Title = "SushiMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <style type="text/css">
        @@font-face {
	        font-family: 'GoudyBookletter1911Regular';
	        src: url('@Url.Content("~/Content/styles/goudy_bookletter_1911.eot")');
	        src: local('@Url.Content("~/Content/styles/Goudy Bookletter 1911")'), local('GoudyBookletter1911'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.woff")') format('woff'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.ttf")') format('truetype'), url('@Url.Content("~/Content/styles/goudy_bookletter_1911.svg#GoudyBookletter1911")') format('svg');
        }
        
        .section { margin-bottom: 50px; }
        
        .category { background:url(@Url.Content("~/Content/images/section-head-bg.png")) no-repeat 100% 50%;
	                display:inline-block;
	                font:36px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	                margin-bottom:16px;
	                padding-right:40px;
        }
        
        .title {
	        color:#262213;
	        letter-spacing:2px;
	        font-size:18px;
	        margin:1em 0 0 0;
	        padding:0;
	        text-transform:uppercase;
	        display: block;
        }
        
        .description {
            margin-left: 15px;
        }
            
        .price {
	        font:22px GoudyBookletter1911Regular, 'Book Antiqua', Times, 'Times New Roman', serif;
	        margin-left: 15px;
        }
        
        .menuItem {
            list-style-type: none;
        }
    </style>
}

<div class="section">
    <span class="category">Special Rolls</span>
    <div>Made to your order by the sushi chef</div>
    <ul class="menuItem">
        <li>
            <span class="title">CIRCA SUSHI Roll</span>
            <span class="description">eel, c.c., avacaho, smoked salmon wrapped in soy paper, topped w/ eel sauce</span>
            <span class="price">$12.00</span>        
        </li>
        <li>
            <span class="title">Cucumber Wrapped</span>
            <span class="description">spicy tuna, krab*, c.c. & avocado wrapped in cucumber</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">Dad's Favorite</span>
            <span class="description">eel, c.c. & avocado inside; deep fried, topped with shrimp tempura, c.c. & eel sauce</span>
            <span class="price">$11.00</span>        
        </li>
        <li>
            <span class="title">Eel Lover</span>
            <span class="description">eel, topped with shrimp tempura, cc. & eel sauce</span>
            <span class="price">$12.00</span>        
        </li>
        <li>
            <span class="title">Firecracker</span>
            <span class="description">shrimp tempura, salmon, avocado, cucumber & masago inside; wrapped with soy paper & topped with crispy tomato</span>
            <span class="price">$13.00</span>        
        </li>
        <li>
            <span class="title">FSU Roll</span>
            <span class="description">lobster tempura, masago & cucumber inside; eel & avacado outside</span>
            <span class="price">$14.00</span>        
        </li>
        <li>
            <span class="title">Hot Mama</span>
            <span class="description"> eel, avocado, cucumber, c.c., red chilli sauce& crispy tempura flake inside; wrapped in soy paper & topped with spicy tuna</span>
            <span class="price">$13.00</span>        
        </li>
        <li>
            <span class="title">Hungry Man Roll</span>
            <span class="description">tuna, fresh salmon, white fish, spicy tuna, krab* salad, shrimp tempura, krab*, avocado & masago & sesame outside</span>
            <span class="price">$14.00</span>        
        </li>
        <li>
            <span class="title">Miami Heat</span>
            <span class="description">tuna, salmon, krab*, cucumber & red shilli saucxe inside; masago & sesame outside</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">Most Wanted</span>
            <span class="description">tuna, salmon, krab*, cucumber & red shilli sauce inside; masago & sesame outside</span>
            <span class="price">$13.00</span>        
        </li>
        <li>
            <span class="title">New Orleans</span>
            <span class="description">spicy crawish & asparagus on inside, half krab* salad & half spicy tuna on outside</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">Ocean Wave</span>
            <span class="description">Crispy krab* & cucumber inside; steamed shrimp & avocado outside</span>
            <span class="price">$11.00</span>        
        </li>
        <li>
            <span class="title">Seafood Roll</span>
            <span class="description">tuna, almon, & white fish, wrapped in cucumber & served w/ ponzu sauce</span>
            <span class="price">$11.00</span>        
        </li>
        <li>
            <span class="title">Shogun</span>
            <span class="description">tuna, salmon, white fish, eel, c.c., cucumber & avocado; in spicy soy paper</span>
            <span class="price">$13.00</span>        
        </li>
        <li>
            <span class="title">Soft-Shell Crab</span>
            <span class="description">soft-shell crab, krab* salad, avocado & masago w/ eel sauce</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">Super Crunch</span>
            <span class="description">eel, c.c., spicy tuna & krab* salad; deep fried & served w/ eel sauce & spicy mayo</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">Volcano</span>
            <span class="description">California roll topped with spicy krab*</span>
            <span class="price">$10.00</span>        
        </li>
        <li>
            <span class="title">White Orchid</span>
            <span class="description">krab* salad, c.c. & shrimp tempura wrapped in shite soy bean paper</span>
            <span class="price">$10.00</span>        
        </li>
    </ul>
</div>

<div class="section">
    <span class="category">Makimono Sushi</span>
    <div>Fresh Makimono rolls made to your order (1 roll)</div>
    <ul class="menuItem">
        <li>
            <span class="title">California</span>
            <span class="description">krab*, avocado, cucumber and masago</span>
            <span class="price">$5.50</span>        
        </li>
        <li>
            <span class="title">Philadelphia</span>
            <span class="description">smoked salmon, chream cheese and avocado</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Shrimp Tempura Roll</span>
            <span class="description">shrimp tempura and eel sauce</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">BBQ Eel</span>
            <span class="description">eel and avocado</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Spicy Tuna</span>
            <span class="description">chopped spicy tuna and cucumber</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Veggie</span>
            <span class="description">avocado, asparagus, cucumber</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Salmon Skin</span>
            <span class="description">roasted salmon skin, cucumbe and eel sauce</span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">Tekka</span>
            <span class="description">tuna</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Kappa</span>
            <span class="description">cucumber</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Krab Salad</span>
            <span class="description">krab* salad and asparagus</span>
            <span class="price">$6.00</span>        
        </li>
    </ul>
        
</div>
<div class="section">
    <span class="category">Nigiri Sushi</span>
    <div>Fresh Nigiri sushi made to your order</div>
    <ul class="menuItem">
        <li>
            <span class="title">Maguro</span>
            <span class="description">tuna</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Hamachi</span>
            <span class="description">yellow tail</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Sake</span>
            <span class="description">fresh salmon</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Sake Smoked</span>
            <span class="description">smoked salmon</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Uni</span>
            <span class="description">sea urchin</span>
            <span class="price">$7.00</span>        
        </li>
        <li>
            <span class="title">Masago</span>
            <span class="description">flying fish roe</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Ikura</span>
            <span class="description">salmon roe</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Tako</span>
            <span class="description">octopus</span>
            <span class="price">$4.50</span>        
        </li>
        <li>
            <span class="title">Amaebi</span>
            <span class="description">sweet shrimp</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Ika</span>
            <span class="description">squid</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Kaibashira</span>
            <span class="description">scallop</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Saba</span>
            <span class="description">mackerel</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Horagai</span>
            <span class="description">conch</span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Kani</span>
            <span class="description">imitation crab</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Ebi</span>
            <span class="description">shrimp</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Unagi</span>
            <span class="description">eel</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Spicy Tobiko</span>
            <span class="description">spicy fish eggs</span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Uzara</span>
            <span class="description">quail eggs</span>
            <span class="price">$3.00</span>        
        </li>
        <li>
            <span class="title">Blue Fin Tuna</span>
            <span class="description"></span>
            <span class="price">$6.00</span>        
        </li>
        <li>
            <span class="title">White Tuna</span>
            <span class="description"></span>
            <span class="price">$5.00</span>        
        </li>
        <li>
            <span class="title">Tilapia</span>
            <span class="description"></span>
            <span class="price">$4.00</span>        
        </li>
        <li>
            <span class="title">Tamago</span>
            <span class="description"></span>
            <span class="price">$3.00</span>        
        </li>
    </ul>
</div>
    
<div>*Krab: imitation crab meat</div>
<div>We Take special pride in preparing our sushi in the traditional Japanese way. Please understand that sushi may take a little longer and may not be served at the same time as other items</div>
<div>Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness, especially if you have certain medical conditions</div>
