@{
    ViewBag.Title = "Main Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>What would you like to do?</h2>

<ul>
    <li>
        @Html.ActionLink("Edit Dinner Menu", "DinnerMenu")
    </li>
    <li>
        @Html.ActionLink("Edit Lunch Menu", "LunchMenu")
    </li>
    <li>
        @Html.ActionLink("Edit Sushi Menu", "SushiMenu")
    </li>
    <li>
        @Html.ActionLink("Edit Store Hours", "StoreHours")
    </li>
    <li>
        @Html.ActionLink("Add pictures to gallery", "Gallery")
    </li>
    <li>
        @Html.ActionLink("Email your customers", "Email")
    </li>
</ul>


