@model LanXang.Web.Viewmodels.StoreHoursVM
@{
    ViewBag.Title = "StoreHours";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section header {
    <style type="text/css">
        .store-hours-container 
        {
            text-align: left;
            clear: both;
            display: block;
        }
        .store-hours-display 
        {
            float: left;
	        text-align: right;
	        color: #fff;
	        padding: 15px;
	        border: 1px solid white;
        }
        #edit-store-hours 
        {
            clear: both;
            padding-top: 20px;
        }
        #edit-store-hours input[type=text] { width: 200px; }
    </style>
    <script type="text/javascript">
        $(function () {
            var model = @Html.Raw(Json.Encode(Model));

            var vm = ko.mapping.fromJS(model);

            ko.applyBindings(vm, document.getElementById('store-hours-container'));
        });
    </script>
}

@Html.ActionLink("Back to main menu", "MainMenu")
<br /><br />
<h2>Store Hours</h2>
<div id="store-hours-container">
    <div class="store-hours-container">
        <div class="store-hours-display"> 
            <strong><u>Store Hours</u></strong><br /> 
            <span data-bind="text: Line1"></span><br /> 
            <span data-bind="text: Line2"></span><br />
            <span data-bind="text: Line3"></span>
        </div>
    </div>

    <div id="edit-store-hours">
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>Line 1</td>
                    <td>@Html.TextBoxFor(p => p.Line1, new { data_bind = "value: Line1, valueUpdate: 'afterkeydown'" })</td>
                </tr>
                <tr>
                    <td>Line 2</td>
                    <td>@Html.TextBoxFor(p => p.Line2, new { data_bind = "value: Line2, valueUpdate: 'afterkeydown'" })</td>
                </tr>
                <tr>
                    <td>Line 3</td>
                    <td>@Html.TextBoxFor(p => p.Line3, new { data_bind = "value: Line3, valueUpdate: 'afterkeydown'" })</td>
                </tr>
            </table>
            <input type="submit" value="Save" name="save" />
        }
    </div>
</div>